* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 48px;
    font-style: italic;
}

ul {
    list-style: none;
}

.bg-lightgray {
    background-color: #eaeaea;
}

h2 {
    font-size: 50px;
    font-style: italic;
    margin-top: 63px;
}
h4 {
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    padding-top: 20%;
    padding-left: 10%;
}
.blue {
    color: blue;
}