
.navbar {
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 35px;
}

.navbar ul {
    display: flex;
}

.navbar > ul {
    margin: 0 auto;
    max-width: 1600px;
    font-style: italic;
    font-weight: medium;
    justify-content: space-between;
}

.navbar > ul.second-row a {
  color: white;
}

.navbar > ul.third-row a {
  color: #0033CC;
}

.navbar ul > li:not(:first-child) {
    margin-left: 10px;
}
.navbar ul > li:not(:last-child) {
    margin-right: 10px;
}
.navbar > ul > li {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .languages {
  justify-content: center;
  color: #AAAAAA;
  font-size: 35px;
}

.navbar .disable a {
  color: #AAAAAA!important;
}

.navbar .languages ul {
    flex-wrap: wrap;
}
.navbar .languages li:not(:first-child) {
    margin-left: 0px !important;
}
.navbar .languages li:not(:last-child) {
    margin-right: 10px;
}

.speaker.disabled {
  opacity: .5;
}